@import '../../../index.scss';

span.badge > span{
    background-color: #FF3D00;
    right: 6px;
    top: 6px;
    height: 15px;
    width: 15px;
    font-size: .6rem;
    color: white;
}

.readed-true {
    // background: rgba(0,0,0,.05) !important;
    color: rgba(0,0,0,.25) !important;

    .notification-created-at {
        display: block;
        font-size: .5rem;
    }
}

.notification-item {
    p {
        font-size: .65rem;
    }
}