/* Coolors Exported Palette - coolors.co/1e3231-00a878-437f97-6f1a07-d8f1a0 */
/* HSL */
/* RGB */
.projectDetail {
  background: linear-gradient(#437f97, #6f1a07);
  min-height: 100vh;
  padding: 20px 20px 0px 20px; }
