.section {
  display: inline; }

.sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px 0px 0px; }

.section {
  overflow: hidden; }

.section .card .card-head span {
  float: right;
  padding-right: 10px;
  font-size: 20px;
  position: absolute;
  left: 110%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  color: black;
  top: 15px; }

.section .card:hover .card-head span {
  transition: 1s;
  left: 90%;
  visibility: visible;
  opacity: 1; }

.allTasksCard {
  padding: 0px !important; }
